@theme {
  --color-white: #ffffff;
  --color-gray-50: #f8f8f9;
  --color-gray-100: #efeff1;
  --color-gray-200: #e3e4e6;
  --color-gray-300: #d1d4d8;
  --color-gray-400: #b5b8bc;
  --color-gray-500: #797d86;
  --color-gray-600: #5a6169;
  --color-gray-700: #414752;
  --color-gray-800: #2d333b;
  --color-gray-900: #121212;
  --color-primary: #ff3967;
  --color-primary-100: #ffeaef;
  --color-primary-200: #ffc7d4;
  --color-primary-300: #ff88a4;
  --color-primary-400: #ff6488;
  --color-primary-500: #ff3967;
  --color-primary-600: #ef1447;
  --color-primary-700: #c7002e;
  --color-primary-800: #920022;
  --color-primary-900: #5c0016;
  --color-secondary: #06d2ee;
  --color-secondary-100: #d6faff;
  --color-secondary-200: #b6f6ff;
  --color-secondary-300: #83f0ff;
  --color-secondary-400: #34e7ff;
  --color-secondary-500: #06d2ee;
  --color-secondary-600: #00bed8;
  --color-secondary-700: #009cb2;
  --color-secondary-800: #006573;
  --color-secondary-900: #003d45;
  --color-neutral: #121212;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-text-primary: #121212;
  --color-text-secondary: #797d86;
  --color-background: #ffffff;
  --font-h1: "Pretendard";
  --font-h2: "Pretendard";
  --font-h3: "Pretendard";
  --font-h4: "Pretendard";
  --font-h5: "Pretendard";
  --font-h6: "Pretendard";
  --font-title1: "Pretendard";
  --font-title2: "Pretendard";
  --font-title3: "Pretendard";
  --font-title4: "Pretendard";
  --font-body1: "Pretendard";
  --font-body2: "Pretendard";
  --font-body3: "Pretendard";
  --font-body4: "Pretendard";
  --font-body5: "Pretendard";
  --font-body6: "Pretendard";
  --font-footnote1: "Pretendard";
  --font-footnote2: "Pretendard";
  --font-footnote3: "Pretendard";
  --font-footnote4: "Pretendard";
  --font-footnote5: "Pretendard";
  --font-footnote6: "Pretendard";
  --font-caption1: "Pretendard";
  --font-caption2: "Pretendard";
  --font-caption3: "Pretendard";
  --font-caption4: "Pretendard";
  --font-caption5: "Pretendard";
  --font-caption6: "Pretendard";
  --text-h1: 36px;
  --text-h2: 36px;
  --text-h3: 26px;
  --text-h4: 26px;
  --text-h5: 22px;
  --text-h6: 22px;
  --text-title1: 18px;
  --text-title2: 18px;
  --text-title3: 18px;
  --text-title4: 16px;
  --text-body1: 16px;
  --text-body2: 16px;
  --text-body3: 15px;
  --text-body4: 14px;
  --text-body5: 14px;
  --text-body6: 14px;
  --text-footnote1: 13px;
  --text-footnote2: 13px;
  --text-footnote3: 13px;
  --text-footnote4: 12px;
  --text-footnote5: 12px;
  --text-footnote6: 12px;
  --text-caption1: 11px;
  --text-caption2: 11px;
  --text-caption3: 10px;
  --text-caption4: 10px;
  --text-caption5: 9px;
  --text-caption6: 9px;
  --leading-h1: 51px;
  --leading-h2: 51px;
  --leading-h3: 34px;
  --leading-h4: 34px;
  --leading-h5: 32px;
  --leading-h6: 32px;
  --leading-title1: 26px;
  --leading-title2: 26px;
  --leading-title3: 26px;
  --leading-title4: 24px;
  --leading-body1: 23px;
  --leading-body2: 23px;
  --leading-body3: 20px;
  --leading-body4: 16px;
  --leading-body5: 16px;
  --leading-body6: 16px;
  --leading-footnote1: 18px;
  --leading-footnote2: 18px;
  --leading-footnote3: 18px;
  --leading-footnote4: 16px;
  --leading-footnote5: 16px;
  --leading-footnote6: 16px;
  --leading-caption1: 16px;
  --leading-caption2: 16px;
  --leading-caption3: 14px;
  --leading-caption4: 14px;
  --leading-caption5: 14px;
  --leading-caption6: 14px;
  --font-weight-h1: 600;
  --font-weight-h2: 300;
  --font-weight-h3: 600;
  --font-weight-h4: 300;
  --font-weight-h5: 600;
  --font-weight-h6: 400;
  --font-weight-title1: 600;
  --font-weight-title2: 500;
  --font-weight-title3: 400;
  --font-weight-title4: 600;
  --font-weight-body1: 500;
  --font-weight-body2: 400;
  --font-weight-body3: 400;
  --font-weight-body4: 600;
  --font-weight-body5: 500;
  --font-weight-body6: 400;
  --font-weight-footnote1: 600;
  --font-weight-footnote2: 500;
  --font-weight-footnote3: 400;
  --font-weight-footnote4: 600;
  --font-weight-footnote5: 500;
  --font-weight-footnote6: 400;
  --font-weight-caption1: 500;
  --font-weight-caption2: 400;
  --font-weight-caption3: 600;
  --font-weight-caption4: 400;
  --font-weight-caption5: 400;
  --font-weight-caption6: 500;
  --radius-md: 8px;
  --spacing-none: 0px;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-xxxl: 48px;
}

